@page
@model KONKURS2.Pages.YRITUSED.IndexModel
<!-- model KONKURS2.Pages.YRITUSED.IndexModel2 -->
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
  <div class="row g-0">
    <!-- UPPER TEXT WITH THE PICTURE -->
    <div id="left-col" class="col-lg ">
      <h6 class="center" id="left-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Integer porttitor lectus leo</b>, id pharetra augue lobortis id. <b>Suspendisse fermentum convallis nisi sed molestie.</b> Cras ut tincidunt dui, ac maximus magna. <b>Fusce eu libero nec libero volutpat pretium iaculis vel leo.</b>
      </h6>
    </div>
    <div class="col-lg">
      <img id="right-col" src="/UI/pilt.jpg" />
    </div>
  </div>
  <div>
    <!-- TWO ROWS OF "TULEVASED ÜRITUSED" AND "TOIMUNUD ÜRITUSED"-->
    <div></div>
    <div class="row display-flex">
      <div id="events" class="col">
       <div id="tul-ur" class="p-3">Tulevased Üritused</div>  <!-- TULEVASED -->
        <div id="tul-ur-list" class="p-3">
          <table style="font-size: 11px; color: grey;" class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody> @foreach (var item in Model.listYritused) { <tr>
                <td>@item.id</td>
                <td>@item.nimi</td>
                <td>@item.aeg</td>
                <td>@item.koht</td>
                <td>
                  <a href="/" role="button">OSAVÕTJAD</a>
                </td>
                <td>
                  <a href="/YRITUSED/Delete?id=@item.id" class="svg">
                    <object style="font-size:14px;" pointer-events: none; width="20" height="20" data="/UI/Remove.svg" type="image/svg+xml" class="mailicon"></object>
                  </a>
                </td>
              </tr> } </tbody>
          </table>
          <a class='btn' style="color: grey;" href='YRITUSED\Create'>LISA ÜRITUS</a>
        </div>
      </div>
      <div id="events" class="col">
       <div id="toi-ur" class="p-3">Toimunud Üritused</div> <!-- TOIMUNUD (SYSTEM DOES NOT WORK DUE TO NO KNOWLEDGE ON HOW TO IMPLEMENT SQL ON ANOTHER TABLE AFTER TODAY DATE)-->
        <div id="toi-ur-list" class="p-3">
          <table style="font-size: 11px; color: grey;" class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model.listYritused) //USING THE SAME TABLE DUE TO NOT KNOWING HOW TO IMPLEMENT DOUBLE MODEL INTO VIEW
                {
                <tr>
                  <td>@item.id</td>
                  <td>@item.nimi</td>
                  <td>@item.aeg</td>
                  <td>@item.koht</td>
                  <td><a href="/" role="button">OSAVÕTJAD</a> </td>
                  <td>
                  </td>
                  </tr>
                }
              </tbody>
          </table>
        </div>
      </div>
      <div id="footer1" class="container">
        <!-- FOOTER -->
        <div id="pealmine" class="row">
          <div class="col-sm">
            <h4>Colonar</h4>
          </div>
          <div class="col-sm">
            <h4>Sidutrin</h4>
          </div>
          <div class="col-sm">
            <h4>Kontakt</h4>
          </div>
          <div class="col-sm"></div>
        </div>
        <div class="row">
          <div class="col-sm">
            <p>Frintaks</p>
            <p>Protas</p>
            <p>Narges</p>
            <p>Sasha</p>
          </div>
          <div class="col-sm">
            <p>Donec vel lacus</p>
            <p>Curabitur lacinia</p>
            <p>Phasellus semper aliquet</p>
            <p>Sed dolor</p>
          </div>
          <div class="col-sm">
            <p>
              <b>Peakontor: Tallinnas</b>
            </p>
            <p>Väike- Ameerika 1, 11415 Tallinn</p>
            <p>Telefon: 605 4450</p>
            <p>Faks: 605 3186</p>
          </div>
          <div class="col-sm">
            <p>
              <b>Harukontor: Võrus</b>
            </p>
            <p>Oja tn 7 (külastusaadress)</p>
            <p>Telefon: 605 3330</p>
            <p>Faks: 605 3155</p>
          </div>
        </div>
      </div>
    </div>